* {
    padding: 0px;
    margin: 0px;
}

body {
    /* background-color: rgb(216, 84, 84); */
    background-image: url(../images/photo-1547480053-7d174f67b557.jfif);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    text-align: center;
    color: black;
}

.card {
    /* background-color: rgb(216, 84, 84); */
    background-color:transparent;
    border-style: hidden;
    color: black;
    text-align: center;
}

.none {
    display: none;
}

.btn {
    padding: 3px;
}

.checked {
    background-color: darkgray;
    color: white;
    border-style: none;
    text-decoration: line-through;
}


.note {
    text-align: center;
    /* background-color: rgb(216, 84, 84); */
    background-color:transparent;

}

textarea {
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color:transparent; */
    border-style: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
}
@media(max-width : 450px){

    textarea{
        width: 220px;
        height: 130px;
    
    }
    h1{
        font-size: 32px;
        color: white;
    }
}

